<body ng-app="unicot">
    <div ng-controller="mainController">
        <h2>Unicot bot hello!</h2>
        {{test}}

        <div>
            <div ng-repeat="song in queue">
                <p>{{song.url}}</p>
            </div>
        </div>

        <input type="text" ng-model="inputUrl">
        <button ng-click="add(inputUrl)">Add </button>
        <button ng-click="play()">Play</button>
        <button ng-click="pause()">Pause</button>
        <button ng-click="skip()">Skip</button>
    </div>
</body>